<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.4</string>
	<key>CFBundleName</key>
	<string>nijigenerate</string>
	<key>CFBundleDisplayName</key>
	<string>nijigenerate</string>
	<key>CFBundleIdentifier</key>
	<string>com.nijilife.Inochinijigenerate</string>
	<key>CFBundleVersion</key>
	<string>0.8.4</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>inoc</string>
	<key>CFBundleExecutable</key>
	<string>nijigenerate</string>
	<key>CFBundleIconFile</key>
	<string>Inochinijigenerate</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>project.icns</string>
			<key>CFBundleTypeName</key>
			<string>nijigenerate Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nijilife.nijigenerate.project</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.nijilife.nijigenerate.project</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/nijigenerate/nijilife/wiki/INP-Data-Interchange-Format</string>
			<key>UTTypeDescription</key>
			<string>nijigenerate Project</string>
			<key>UTTypeIconFile</key>
			<string>project.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>inx</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
